	<li class="collection-item avatar">
		<%= render 'users/avatar', user: comment.user %>
		<span><%= comment.body %></span>
		<%	if comment.user == current_user %>
			<%= link_to([comment.commentable, comment], method: :delete, 
			data: {
				confirm: "Are you sure?",
				position: "left",
				delay: 50,
				tooltip:"Delete Comment"},  class: "secondary-content tooltipped",style:"margin-right:-2%;") do %>
				<i class="material-icons grey-text">remove_circle</i>
			<% end %> 
		<% end %>
	</li>
