<div class="card-content">
<ul class="collection with-header">
	<li class="collection-header">Sub-tasks</li>
	<% task.tasks.each do |subtask|%> <!-- display subtask of task -->
		<li class="collection-item"><%= link_to subtask.title, [task,subtask] %><span class="secondary-content">
			<%= render 'tasks/assignee', task:subtask%>
		</span></li>
	<% end %>
</ul>
</div>