<div class="card">
	
	<%= render 'tasks/body', task: task%>
	<div class="card-action">
		<%= link_to 'Follow',follow_task_path(task),method: :post%>
	</div>
</div>

<%= render 'tasks/assignee_list', task: task%>
