<div class="card">
	<div class="card-content">
	<% @subtasks.each do |subtask| %>
		<span class="card-title"><%= link_to subtask.title %></span>
		<p> <%= subtask.description %> </p>
	</div>
	<div class="card-action">
	
	<% end %>
	</div>
</div>

