<div class="card">
<div class="card-content">
<div class="card-title">
	<%= notification.subject %>
</div>

<p>About <%= notification.category %> <%= time_ago_in_words(notification.created_at) %> ago</p>

<p><%= notification.body %></p>
</div>
</div>
