<div class="container">
<h4>Notifications</h4>

    <!-- if new notification present then it -->                                   
    <!--    notification otherwise display message -->
 <% if @notifications.any? %>  
<%= render :partial => @notifications %>
<% else %>
<p>How sad, you have no messages.</p>
<% end %>
</div>