<h1>Dashboard</h1>
<div class="wrapper">
<aside class="udash-side-bar">
	<%= link_to 'Projects', user_projects_path(current_user) %>
	<%= link_to 'Discusions', user_posts_path(current_user) %>
</aside>
</div>

