<% if resource.progress and resource.progress > 0 %>
<div class="progress tooltipped" data-position="top" data-delay="50" data-tooltip="<%= resource.progress %>%" style="height: 10px;">
	<div class="determinate" style='width: <%= resource.progress || 0 %>%'>
	</div>
</div>
<% end %>