<h1>Pull It Together</h1>
<%= link_to 'Log In', new_user_session_path %> |
<%= link_to 'Sign Up', new_user_registration_path %>

<p>A Project Management System</p>

<p>Live app - <a href="https://pitpmt.herokuapp.com/">https://pitpmt.herokuapp.com/</a></p>



<h2 id="overview">Overview</h2>

<p>A used and abused approach at Project Management. Enables a user to complete a Project with the help of task management.</p>



<h2 id="specifications">Specifications</h2>

<p>1.User Management</p>

<pre><code>1. Using Devise to handle user functionality
2. Signup, Login, Forget Password, etc
3. User can be a part of a project as well as create a project
</code></pre>

<p>2.Project Management</p>

<pre><code>1. Creation of project by a user
2. Adding people on a project
3. Create Objectives , Assign Moderators for Objectives .
</code></pre>

<p>3.Task Management </p>

<pre><code>1. Creation of tasks, Sub-tasks
2. Assigning and Reassigning of Tasks to members
3. Tasks can have followers and labels
4. Label based task searching
5. Tasks have priority and due date.
</code></pre>

<p>4.Notifications </p>

<pre><code>1. User gets notification for current tasks.
2. Users can follow a task or a post
3. User gets notification for the tasks he follow’s
</code></pre>

<p>5.Time-Line  </p>

<pre><code>1. Two types of timeline , (project and user)
2. Project Timeline shows project related progress
3. User timeline shows their task related progress and updates.
</code></pre>

<p>6.Discussions </p>

<pre><code>1. Users can leave comments on tasks
2. Users can leave comments on Post.
</code></pre>



<h2 id="model-schema-draft-1">Model Schema (draft 1)</h2>

<p>Users </p>

<pre><code>id: integer 
name: string
email: string
password_digest: string
</code></pre>

<p>Projects </p>

<pre><code>id: integer
title: string
deadline: datetime
started_at: datetime
status: string
progress: integer
archive: boolean
creator: integer   foreign_key =&gt; user.id
</code></pre>

<p>User_Projects</p>

<pre><code>id: integer
role: string
user_id: integer        foreign_key =&gt; user.id
project_id: integer foreign_key =&gt; project.id
</code></pre>

<p>Tasks (Polymorphic)</p>

<pre><code>id: integer
title: string
priority: string
status: string
progress: integer
description: text
started_at: datetime
due_date: datetime
taskable_type: string
taskable_id: integer   foreign_key =&gt; project.id
user_id: integer             foreign_key =&gt; user.id
</code></pre>

<p>labels </p>

<pre><code>id: integer
name: string
</code></pre>

<p>task_labels</p>

<pre><code>id: integer
label_id: integer    foreign_key =&gt; label.id
task_id: integer   foreign_key =&gt; task.id
</code></pre>

<p>Posts</p>

<pre><code>id: integer
title: string
body: text
created_at: timestamp
project_id: integer     foreign_key =&gt; project.id
user_id: integer            foreign_key =&gt; user.id
</code></pre>

<p>Comments (Polymorphic)</p>

<pre><code>id: integer
body: integer
user_id: integer  foreign_key =&gt; user.id
commentable_type: string
commentable_id: integer 
</code></pre>

<p>Follows (polymorphic)</p>

<pre><code>id: integer
followable_type: string  
followable_id: integer  foreign_key =&gt; task.id
follower_id: integer    foreign_key =&gt; user.id
</code></pre>

<p>Notifications</p>

<pre><code>id: integer
user_id: integer    foreign_key =&gt; user.id
context: string   (defines type of notification)
body: text
created_at: timestamp
</code></pre>

<h2 id="relations">Relations</h2>

<blockquote>
  <ul>
  <li>one User can have many Projects</li>
  <li>one Project can have many Users</li>
  <li>one User can have many tasks</li>
  <li>one Project can have many tasks</li>
  <li>task is polymorphic</li>
  <li>each task can have a sub-task as a task</li>
  <li>each task can have many labels</li>
  <li>each label can have many tasks</li>
  <li>each project can have many posts</li>
  <li>each post can have many comments</li>
  <li>each task can have many comments</li>
  <li>comments is polymorphic</li>
  <li>each task can have many followers</li>
  <li>each user can follow many tasks</li>
  <li>each user can have many notifications</li>
  </ul>
</blockquote>