<div class="progress" style="height: 20px;">
	<div class="determinate" style='width: <%= project.progress %>%'>
		<div class="white-text" style="float:right;">
			<%= project.progress %>
		</div>
	</div>
</div>