<ul class="collection with-header">
	<li class="collection-header"><b>Tasks</b></li>
	<% project.tasks.each do |task| %>
	<li class="collection-item">
		<%= task.title %>
		<div class="secondary-content">
				<% if task.user %>
					<%= render 'users/avatar', user: task.user, size: '-sm' %>
				<% else %>
				<button class="no-btn dropdown-button" data-activates="dropdown3">
					<div class="circular-button-small">
						<i class="material-icons icon-hover dash-border">person_add</i>
					</div>
				</button>
				<% end %>
		</div>
	</li>
	<%= render 'projects/members_dropdown', project: project, task:task %>
	<% end %>
</ul>