<ul class="collection with-header">
	<li class="collection-header"><b>Posts</b></li>
	<% project.posts.each do|post|%>
	<div class="collection-item">
		<div class="card-content">
			<div class="card-title">
				<%= link_to post.title,project_post_path(project,post) %>
			</div>
			<%= post.body %>
		</div>
	</div>
	<% end %>
	<%=link_to 'Add Post',new_project_post_path(project),class:"collection-item" %>
</ul>