<nav>
    <div class="nav-wrapper  cyan accent-4">
    <% if user_signed_in? -%>
    <%= link_to 'Pull-It-Together',user_path(current_user),class:"brand-logo",style:"padding-left:1%;" %>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
       <li><%= link_to 'New Project', new_user_project_path(current_user)%></li>
       <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete%></li>
      </ul>
    <% else %>
    <%= link_to 'Pull-It-Together',root_path,class:"brand-logo",style:"padding-left:1%;" %>
    <% end %>
    </div>
</nav>